<% if milestone %>
<img id="burndown-chart" src="./burndown.svg" />
<div><%= milestone.name %> <%= milestone.start_time %> <%= milestone.end_time %></div>
<% else %>
<div>No milestones on this repository</div>
<% end %>
