<!DOCTYPE html>
<html lang="en">
<head>
	<title>Burnit.io</title>
	<meta charset="utf-8" />
	<style>
#header a {
	color: #fcd4d4;
}

a#sign-in {
	background: #ffb83a;
}
	</style>
	<link rel="stylesheet" href="/style.css" type="text/css" />
</head>
<body>
<div id="wrap">

<%
def link_to(page)
	s = 'href="./' + page + '"'
	if active_page?(page)
		return s + ' class="active"'
	end
	return s
end
%>

<div id="header">
<h1><a href="/">Burnit.io</a></h1>
<% if defined? links %>
<ol id="h-links">
	<li><a <%= link_to("") %>>Burndown</a></li>
	<li><a <%= link_to("tasks") %>>Tasks</a></li>
	<li><a <%= link_to("user-stories") %>>User-stories</a></li>
</ol>
<% end %>
<a id="sign-in" href="/">Sign in with Github</a>
<div class="clearfix"></div>
</div>
<div id="page">
<%= yield %>
</div>
</div>

<div id="footer">
<div id="copyright_notice">Copyright &copy; 2016 Aleksi Salmela</div>
<ol id="footer-links">
	<li><a href="https://github.com/salmela/burnit/">Source code</a>
	<li><a href="https://github.com/radekstepan/burnchart">Inspiration</a>
</ol>
</div>

</body>
</html>
