<!DOCTYPE html>
<html lang="en">
<head>
	<title>Burnit.io</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="/style.css" type="text/css" />
</head>
<body>
<div id="wrap">

<div id="header">
<h1><a href="/">Burnit.io</a></h1>

</div>
<div id="page">
<%= yield %>
</div>
</div>

<div id="footer">
<div id="copyright_notice">Copyright &copy; 2016 Aleksi Salmela</div>
<ol id="footer-links">
	<li><a href="https://github.com/salmela/burnit/">Source code</a>
	<li><a href="https://github.com/radekstepan/burnchart">Inspiration</a>
</ol>
</div>

</body>
</html>
