<!DOCTYPE html>
<html lang="en">
<head>
	<title>Burnit.io</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="/style.css" type="text/css" />
</head>
<body>
<div id="wrap">

<div id="header">
<h1>Burnit.io</h1>
</div>
<div id="page">
<%= yield %>
</div>
<div id="footer">
<ol>
	<li><a href="https://github.com/salmela/burnit/">Source code</a>
</ol>
</div>

</div>

</body>
</html>
