<h2>Repo <%= params['user'] + "/" + params['repo'] %>!"</h2>

<h2>User stories</h2>
<table>
<tr>
	<td rowspan="2">Story #1</td>
	<td>task1</td>
	<td>done</td>
	<td>somebody</td>
	<td>2</td>
	<td>2</td>
	<td>2</td>
	<td>2</td>
	<td>1</td>
	<td>0</td>
	<td>0</td>
</tr>
<tr>
	<td>task2</td>
	<td>done</td>
	<td>somebody</td>
	<td>2</td>
	<td>1</td>
	<td>1</td>
	<td>1</td>
	<td>1</td>
	<td>1</td>
	<td>0</td>
</tr>
</table>

<h2>Burndown chart</h2>
<img src="./test.svg" />
