/* TODO use somekind css preprocessor */

* {
	padding: 0;
	margin: 0;
	color: #333;
}

html, body {
	height: 100%;
	font-family: sans-serif;
}

.clearfix {
	clear: both;
}

/* heh */
.no-css {
	display: none;
}

#wrap {
	min-height: 100%;
}

#header {
	background: #ef2929;
	color: #fcd4d4;
}

#header h1 {
	margin: 0;
	padding: 8px;
	font-family: serif;
}

#header h1 a {
	color: #fcd4d4;
	text-decoration: none;
	transition: color .3s;
}

#header h1 a:hover {
	color: #fff;
}

#page {
	margin: 10px;
}

#footer {
	background: #888a85;
	width: 100%;
	height: 3em;
	margin-top: -3em;
	position: relative;
	clear: both;
}

#footer-links {
	margin: 0;
	padding: 0;
}

#footer-links li {
	display: inline-block;
	list-style: none;
	padding: 10px;
}

#footer a {
	color: #fff;
	text-decoration: none;
}

#footer a:hover {
	text-decoration: underline;
}

/* use non-fixed height footer if flex layouts are supported */
@supports (display: flex) {
	body {
		display: flex;
		min-height: 100%;
		flex-direction: column;
	}

	#wrap {
		min-height: auto;
		flex: 1;
	}

	#footer {
		margin: 0;
		width: auto;
		height: auto;
		position: static;
	}
}

h2 {
	margin: 8px 0;
}

ol.list {
	border: 1px solid #888;
	border-radius: 4px;
}

ol.list li {
	list-style: none;
	border-bottom: 1px solid #888;
}

ol.list li:last-child {
	border-bottom: 0;
}

ol.list a.item {
	color: #080808;
	display: block;
	padding: 8px;
	text-decoration: none;
}

ol.list .name {
	display: inline-block;
	width: 20%;
	font-weight: bold;
}

ol.list .desc {
	color: #444;
}
