/* TODO use somekind css preprocessor */

* {
	padding: 0;
	margin: 0;
}

html, body {
	height: 100%;
	font-family: sans-serif;
	color: #333;
}

.clearfix {
	clear: both;
	display: block;
}

/* heh */
.no-css {
	display: none;
}

#wrap {
	min-height: 100%;
}

#header {
	background: #ef2929;
	color: #fcd4d4;
}

a {
	text-decoration: none;
}

#page p a:hover,
#footer a:hover {
	text-decoration: underline;
}

#header a {
	color: #fcd4d4;
	transition: color .3s;
}

#header h1 {
	margin: 0;
	padding: 8px;
	font-family: serif;
	float: left;
}

#header h1 a:hover {
	color: #fff;
}

#h-links {
	font-size: 1.2em;
	line-height: 2em;
	padding: 8px;
	float: left;
}

#h-links li {
	list-style: none;
	margin-right: 8px;
	float: left;
}

#h-links a:hover {
	/* we use border-bottom so that the line is little bit lower */
	border-bottom: 2px solid #f88c8b;
}

#h-links a.active {
	/* we use border-bottom so that the line is little bit lower */
	border-bottom: 2px solid;
}

a#sign-in {
	color: #900000;
	background: #ffb83a;
	border-radius: 4px;
	line-height: 2em;
	padding: 0 8px;
	margin: 8px;
	float: right;
	transition: background-color .1s;
}

a#sign-in:hover {
	background: #fcc665;
}

#page {
	margin: 10px;
}

#footer {
	background: #888a85;
	width: 100%;
	height: 3em;
	margin-top: -3em;
	position: relative;
	clear: both;
}

#footer-links {
	margin: 0;
	padding: 0;
}

#footer-links li {
	display: inline-block;
	list-style: none;
	padding: 10px;
}

#footer a {
	color: #fff;
}

#copyright_notice {
	font-size: .9em;
	float: right;
	padding: 10px;
}

/* use non-fixed height footer if flex layouts are supported */
@supports (display: flex) {
	body {
		display: flex;
		min-height: 100%;
		flex-direction: column;
	}

	#wrap {
		min-height: auto;
		flex: 1;
	}

	#footer {
		margin: 0;
		width: auto;
		height: auto;
		position: static;
	}
}

h1#index-header {
	text-align: center;
	vertical-align: middle;
	font-size: 3em;
	margin: 20px 10px;
	color: #298cef;
}

#index-header .bottom {
	display: block;
	font-size: 1.5em;
}

input[type=text] {
	border: 1px solid #f35353;
	border-radius: 3px;
	padding: 4px;
}

input[type=submit] {
	background: #ef2929 none repeat scroll 0 0;
	border: 0 none;
	border-radius: 3px;
	color: #fcd4d4;
	font-weight: bold;
	padding: 4px;
}

h2 {
	margin: 8px 0;
}

ol.list {
	border: 1px solid #888;
	border-radius: 4px;
}

ol.list li {
	list-style: none;
	border-bottom: 1px solid #888;
}

ol.list li:last-child {
	border-bottom: 0;
}

ol.list a.item {
	font-weight: bold;
	color: #080808;
	display: block;
	padding: 8px;
}

ol.user-list .name {
	display: inline-block;
	width: 20%;
}

ol.user-list .desc {
	color: #444;
	font-weight: normal;
}

ol.task-list .size {
	float: right;
	display: inline-block;
	padding: 5px;
	margin: -5px;
	position: relative;
	width: 1.2em;
	height: 1.2em;
	text-align: center;
	font-weight: normal;
	background: #f79494;
	border-radius: 100%;
}

ol.task-list .size:hover {
	background: #f55959;
}

h3 {
	margin-top: 16px;
}

table.user_stories {
	border-collapse: collapse;
	margin: 10px;
}

table.user_stories td {
	padding: 4px;
}

table.user_stories td.no_tasks {
	color: #888;
}

table.user_stories tr {
	border-top: 1px solid #000;
}

table.user_stories tr:first-child {
	border-top: none;
}

table.user_stories td.story {
	width: 30%;
	font-style: italic;
}

#burndown-chart {
	width: 100%;
}
