/* TODO use somekind css preprocessor */

* {
	padding: 0;
	margin: 0;
	color: #333;
}

html, body {
	height: 100%;
	font-family: sans-serif;
}

.clearfix {
	clear: both;
	display: block;
}

/* heh */
.no-css {
	display: none;
}

#wrap {
	min-height: 100%;
}

#header {
	background: #ef2929;
	color: #fcd4d4;
}

#header h1 {
	margin: 0;
	padding: 8px;
	font-family: serif;
}

#header h1 a {
	color: #fcd4d4;
	text-decoration: none;
	transition: color .3s;
}

#header h1 a:hover {
	color: #fff;
}

#page {
	margin: 10px;
}

#footer {
	background: #888a85;
	width: 100%;
	height: 3em;
	margin-top: -3em;
	position: relative;
	clear: both;
}

#footer-links {
	margin: 0;
	padding: 0;
}

#footer-links li {
	display: inline-block;
	list-style: none;
	padding: 10px;
}

#footer a {
	color: #fff;
	text-decoration: none;
}

#footer a:hover {
	text-decoration: underline;
}

/* use non-fixed height footer if flex layouts are supported */
@supports (display: flex) {
	body {
		display: flex;
		min-height: 100%;
		flex-direction: column;
	}

	#wrap {
		min-height: auto;
		flex: 1;
	}

	#footer {
		margin: 0;
		width: auto;
		height: auto;
		position: static;
	}
}

h2 {
	margin: 8px 0;
}

ol.list {
	border: 1px solid #888;
	border-radius: 4px;
}

ol.list li {
	list-style: none;
	border-bottom: 1px solid #888;
}

ol.list li:last-child {
	border-bottom: 0;
}

ol.list a.item {
	font-weight: bold;
	color: #080808;
	display: block;
	padding: 8px;
	text-decoration: none;
}

ol.user-list .name {
	display: inline-block;
	width: 20%;
}

ol.user-list .desc {
	color: #444;
	font-weight: normal;
}

ol.task-list .size {
	float: right;
	display: inline-block;
	padding: 5px;
	margin: -5px;
	position: relative;
	width: 1.2em;
	height: 1.2em;
	text-align: center;
	font-weight: normal;
	background: #f79494;
	border-radius: 100%;
}

ol.task-list .size:hover {
	background: #f55959;
}

h3 {
	margin-top: 16px;
}

table.user_stories {
	border-collapse: collapse;
	margin: 10px;
}

table.user_stories td {
	padding: 4px;
}

table.user_stories td.no_tasks {
	color: #888;
}

table.user_stories tr {
	border-top: 1px solid #000;
}

table.user_stories tr:first-child {
	border-top: none;
}

table.user_stories td.story {
	width: 30%;
	font-style: italic;
}
